.ContainerMenu{
  border: 2px solid white;
  margin: 2rem;
  padding:2rem;
  display:flex;
  flex-direction:row;
  border-radius:25px;

}
.block{
  border: 2px solid yellow;
  border-radius: 25px;
  padding: 1rem;
}
.block>.id{
  background-color:red;
  border:1px solid white
}
