.ContainerMenu{
  border: 2px solid white;
  padding:2rem;
  display:flex;
  flex-direction:row;
  border-radius:25px;
  display:flex;
  flex-direction:column;
  margin: 0 auto;
}
.id, .nombre, .categoria, .precio{
  display:flex;
  justify-content:space-around;
}
.block{
  border: 2px solid yellow;
  border-radius: 15px;
  padding: 1rem;
  width:100vw;
  display:contents;
}
.product{
  display: flex;
  flex-direction:column;
}
.product>button{
  margin-left:-6px;
  font-size:10px;
  width:150%;
  align-items: end;
  margin-bottom: 0
}

