form{
  height:2rem;
  display: flex;
  margin: 0 30%;
}
button.NavBar{
  width:6rem;
  background-color: #42c6ff;
}
@media (min-width: 760px){
  form{
    margin: 0 40%;
  }
  form>button{
    width:5rem;
  }
}
