.carrinho{
  border: 2px solid red;
  border-radius:15px;
  padding: 6px;
  display:flex;
  flex-direction:column;
  padding:2rem;
  background-color: #99faff;
  position: absolute;
  top: 32rem;
  left: 10rem;

}
.container{
  display: flex;
  flex-direction: row;
}
.container> div{
  margin:0 1rem;
}
.container>.cart{
  justify-content: space-between;
}
